### Set and default operations

In [18]:
set1 = {1,9,10,3,6,2,4,2,45,7,3,6,8}
set2 = {8,3,5,7,8,9,1,0,4,5}

## intersection function 
set3 = set1.intersection(set2)
print("Common element in set1 and set2 : ",set3)

## union function
set4 = set1.union(set2)
print("Unique element in set1 and set2 : ",set4)

## add function
set1.add(50)
print("Add the element : ",set1)

## pop function
print('delet the element from set : ',set2.pop())

## update function
set1.update({13,18,19})
print("Updated set",set1)

Common element in set1 and set2 :  {1, 3, 4, 7, 8, 9}
Unique element in set1 and set2 :  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 45}
Add the element :  {1, 2, 3, 4, 6, 7, 8, 9, 10, 45, 50}
delet the element from set :  0
Updated set {1, 2, 3, 4, 6, 7, 8, 9, 10, 45, 13, 50, 18, 19}